@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');




*{
    box-sizing: border-box;
}

body{
    background-image: url('ilya-pavlov-IcclLmLQuw8-unsplash.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    
    height:100vh;
    display:flex;
    flex-direction: column;

    align-items: center;
    overflow: scroll;
    margin:0;
    font-family: 'Roboto', sans-serif;
}

h1 ,.message {
    color: blue;
    padding:0.19vw;
}
button {
    font-size: 20px;
    cursor: pointer;
    background-color:blue;
    COLOR:WHITE;
    border-radius: 10px;
    border: 2px solid black;
    width:100px;
}

textarea{
    background-color:white;
    opacity: 0.9;
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
     border:10px solid black;
     border-radius: 10px;
     width:90vw;
     margin: 10px 10px 10px 10px;
     font-size: 20px;
     min-height: 30vh;
     overflow: scroll;
}
textarea ::click{
    opacity:1;
}
.fa{
  color: blue;  
}

.heading,#time{
    font-size: 40px;
    color: white;
}
#time{
    margin-bottom:5px;
}
.message{
    background-color:rgb(252, 228, 218);
    border-radius:20px;
}